{% extends 'base.html.twig' %}

    {% block stylesheets %}
        <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    {% endblock %}

{% block title %}Trainer - add section{% endblock %}

{% block body %}
    <div class="mt-5">
        <h4>Add section</h4>
    </div>
{% endblock %}