{% extends 'base.html.twig' %}

{% block title %}Trainer - add section{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row mt-5">
        <div class="col-6">
            <h4>Add section</h4>
            {{ form_row(form.name) }}
            {{ form_row(form.position) }}
            <button class="btn btn-primary" type="'submit">Submit</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}