{% extends 'base.html.twig' %}

{% block title %}Trainer menu{% endblock %}

{% block body %}
    <div class="mt-5">
        <h4>Sections</h4>
        <ul>
            {% for section in sections %}
                <li>{{ section }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
