{% extends 'base.html.twig' %}

{% block title %}Challenge - {{ challenge.category.section }} - {{ challenge.category }}{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="col">
        <h4>{{ challenge }}</h4>
    </div>
{% endblock %}
