{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="alert alert-success mt-5 mx-5" role="alert">
        All challenges are done! Congrats! {{ app.environment }}
    </div>
{% endblock %}
